
<h1 style="text-align: center;">Welcome to Our Hospital</h1>
<br />
<p style="text-align: center;">Thanks uou for choosing our hospital for your healthcare needs</p>
<p style="text-align: center;">Here we strive to provide the highest quality medical care to our patients</p>
<p style="text-align: center;">learn more about pur service and specialities:</p>
<ul style="text-align: center;" class="list-group">
	<li class="list-group-item">Internal Medicine</li>
	<li class="list-group-item">Pediatrics</li>
	<li class="list-group-item"> Surgery</li>
	
</ul>
<p style="text-align: center;">if you have any questions or need assistance.please don't hesitate to contact us.</p>